
# C extensions
*.so
*.cookie

build/
storage/
trash/
trash/
code_blocks/*/logger/
code_blocks/build_brotli/*
code_blocks/check_logger/*
code_blocks/*/obj/
code_blocks/*/*.dll
code_blocks/*/*.depend
code_blocks/*/*.layout
code_blocks/*/gmon.out
code_blocks/*/auth.json
code_blocks/*/bin/
code_blocks/*/*.exe
code_blocks_testing/*/*.exe
code_blocks_testing/*/*.depend
code_blocks_testing/*/*.layout
code_blocks_testing/*/*.dll
code_blocks_testing/*/obj/
code_blocks_testing/*/logger/
code_blocks_testing/*/gmon.out
code_blocks_testing/*/auth.json
code_blocks_testing/*/auth*.json
bin/*.dll
bin/logger/*
*.pdn
*.gch
*.save-failed